
/*===== GOOGLE FONTS =====*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@400;700 & display = swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

/*========== Colors ==========*/
 --pink: #ff1ca8; 
 --VeryPale: #dcffe7;
 --VeryDark: #003611;
 --Grayis-hBlue: #838283;
 --title-color: #000000;
}

/*========== CLASS CSS ==========*/


h1,h2,h3,ul,p{
  margin: 0;
}
h1,h2,h3{
  color: var(--title-color);
}

a{
  text-decoration: none;
  color: var(--VeryPale);
}

ul{
  padding: 0;
  list-style: none;
}