
/*===== GOOGLE FONTS =====*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@400;700 & display = swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

/*========== Colors ==========*/
 --pink: #ff1ca8; 
 --VeryPale: #ebfcf0;
 --VeryDark: #003611;
 --Grayis-hBlue: #838283;
 --title-color: #000000;
}

/*========== CLASS CSS ==========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

body{
  background-color: var(--VeryPale);
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,h2,h3,ul,p{
  margin: 0;
}
h1,h2,h3{
  color: var(--title-color);
}

a{
  text-decoration: none;
  color: var(--VeryPale);
}

ul{
  padding: 0;
  list-style: none;
}

.btn-nav{
  outline: none;
  border: none;
  box-shadow: 2px 2px 4px var(--Grayis-hBlue);
  border-radius: 40px;
  padding: 10px 20px;
  background-color: var(--VeryPale);
  color: var(--title-color);
  cursor: pointer;
  font-size: 18px;
}