
/*===== GOOGLE FONTS =====*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family= Open+Sans:wght@400;700 & display = swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

/*========== Colors ==========*/
 --pink: #ff1ca8; 
 --VeryPale: #ebfcf0;
 --VeryDark: #003611;
 --Grayis-hBlue: #adadad;
 --preto: #000000;
 --branco: #ffffff;
 --cinza-claro: #dfdede;
}

/*========== CLASS CSS ==========*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background: url(../img/bg-hero-desktop.svg) no-repeat;
  background-color: var(--VeryPale);
  padding-bottom: 40px;
  margin-bottom: 80px;
}

body{
  background-color: var(--branco);
  min-height: 100vh;
  min-width: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1,h2,h3,ul,p{
  margin: 0;
}
h1,h2,h3{
  color: var(--preto);
}

a{
  text-decoration: none;
  color: var(--VeryPale);
}

ul{
  padding: 0;
  list-style: none;
}

nav .nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.btn-nav, .btn-banner, .btn-start{
  outline: none;
  border: none;
  box-shadow: 2px 2px 4px var(--Grayis-hBlue);
  border-radius: 40px;
  padding: 15px 60px;
  cursor: pointer;
  font-size: 18px;
}

.btn-nav{
  background-color: var(--VeryPale);
  color: var(--preto);
}

.btn-banner, .btn-start{
  background-color: var(--pink);
  color: var(--VeryPale);
}

#main-banner{
  padding: 0 2em;
  display: flex;
  flex-direction: row;
}

#main-banner p{
  padding: 2em 0;
}

#main-banner h1{
   padding-top: 3em;
}

.banner{
  width: 40%;
  padding-left: 2em;
}
#main-banner img{
  width: 60%;
  padding-left: 2em;
}

.description{
  padding: 20px 2em;
  display: flex;
  margin: 39px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #fff;
  box-shadow: 0px 0px 6px var(--cinza-claro);
}

.info-description{
  width: 40%;
}

.description img{
  width: 50%;
}